#home{
   
    .home_content{
        background-color: white;
        margin: 2rem 0px;
        padding: 0px 30px 30px 30px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
    h1{
        margin-top: 25vh;
        padding: 30px 0px;
        width: 100%;
        font-weight: bold;
        text-shadow: 2px 2px 3px rgba(0,0,0, 0.35);
    }

    .banner{
        height: 55vh;
    }
    .h2{
        font-size: 2rem;
        margin: 2rem 0px;
        color: $green;
        text-transform: capitalize;
    }
    .recipes_search{
        width: 60%;
        margin: 0px auto;

        input#search_query {
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            font-size: x-large;
        }
        input#search_query::placeholder {
            color: white;
        }
    }
    
    .last_recipes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
}