#home{
   .adsense_horizontal{
       width: 100%;
   }
    .home_content{
        background-color: white;
        margin: 2rem 0px;
        padding: 0px 30px 30px 30px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
    h1{
        margin-top: 25vh;
        padding: 30px 0px;
        width: 100%;
        font-weight: bold;
        text-shadow: 2px 2px 3px rgba(0,0,0, 0.35);
    }

    .banner{
        height: 55vh;
    }
    .h2{
        font-size: 2rem;
        margin: 2rem 0px;
        color: $green;
        text-transform: capitalize;
    }
    .recipes_search{
        width: 60%;
        margin: 0px auto;

        input#search_query {
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            font-size: x-large;
        }
        input#search_query::placeholder {
            color: white;
        }

        .recipe_text {
            display: none;
        }
    }
    
    .last_recipes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

    .users_cards {
        grid-template-columns: repeat(1, 1fr);
    }

    h3{
        margin: 2rem;
        color: $green;
    }

    .steps {
        align-items: center;
        text-align: center;
        i {
            font-size: xxx-large;
            margin: 1rem;
            color: green;
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) { 
        .last_recipes {
            grid-template-columns: repeat(2, 1fr);
        }

        .users_cards {
            grid-template-columns: repeat(2, 1fr);
        }

        .bintja_presentation{
            margin: auto;
            width: 100%;
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        .recipe_text {
            display: inline-block !important;
        }

        .steps {
            display: flex;
            justify-content: space-around;
        }

        .bintja_presentation{
            width: 560px;
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) { 
        .last_recipes {
            grid-template-columns: repeat(3, 1fr);
        }
        .users_cards {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { 
        .recipes_search{
            width: 50%;
        }
        .banner{
            height: 60vh;
        }
    }
}