<div class='add_recipe_card'>
  <div class='recipe_card'>
    <a href="<%= root_path %>">
      <div class="my_card">
        <i class="fas fa-plus"></i>
        <div class="card-infos">
          <h2>Add a recipe</h2>
        </div>
      </div>
    </a>
  </div>
</div>