<div class="recipes_search">
  <%= simple_form_for :search, url: recipes_path, method: :get do |f| %>
    <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="<%= params[:search][:query ] if params.has_key?(:search) %>" />
        <button type="submit" class="btn btn-flat btn-primary">
        <i class="fas fa-search"></i> <span class='recipe_text'>Recipes</span>
        </button>
    </div>
  <% end %>
</div>