<div class='container'>
    <div id="recipes_search_results">
        <br>
        <%= render "recipes/recipes_search" %>
        <br>
        <%= render "recipes/recipes_results" %>
    </div>
</div>