<div class='container'>
    <div id="recipes_search_results">
        <% content_for :title, "Search #{params[:search][:query ]}" %>
        <br>
        <%= render "recipes/recipes_search" %>
        <br>
        <%= render "recipes/recipes_results" %>
    </div>
</div>