<div id="cookies-eu-banner" style="display: none;">
    We use cookies for statistical purposes to improve users experience.
    <button id="cookies-eu-reject">I refuse</button>
    <button id="cookies-eu-accept">I'm OK</button>
</div>