<div id='footer'>
  <div class='container'>
    <div class='bottom-footer'>
        <div class='legal'>
           <%= link_to 'Terms & Conditions', cgu_path %>  | <%= link_to 'Privacy Policy', privacy_policy_path %>
        </div>
        <div class='copyright'>
        © 2021 <%= link_to 'Bintja', root_path %> - All Rights Reserved.
        </div>
    </div>
  </div>
</div>