<div id='footer'>
  <div class='container'>
  <% if current_page?(root_path) %>
    <div class='top-footer'>
        <h4>About Bintja</h4>
        <p>
        Bintja was created by a french who does not know how to cook. A shame for a Frenchman whose country is recognized worldwide for its gastronomy. The goal of this site is to allow anyone to cook with any ingredient in order to vary their diet.
        </p>
    </div>
  <% end %>
    <div class='bottom-footer'>
        <div class='legal'>
            Terms & Conditions | Privacy Policy | Cookie Consent
        </div>
        <div class='copyright'>
        © 2021 Bintja - All Rights Reserved.
        </div>
    </div>
  </div>
</div>