<div id='footer'>
  <div class='container'>
    <div class='bottom-footer'>
        <div class='legal'>
            Terms & Conditions | Privacy Policy | Cookie Consent
        </div>
        <div class='copyright'>
        © 2021 Bintja - All Rights Reserved.
        </div>
    </div>
  </div>
</div>