<div class='container'>
    <div id='cgu'>
        <% content_for :title, "Terms & Conditions" %>
        <h1>Terms & Conditions</h1>
        <div class='content'>
            <%= image_tag "under_construction.png" %>
            <h2>Work in progress</h2>
        </div>
    </div>
</div>
