<div class='container'>
    <div id='cgu'>
        <h1>Terms & Conditions</h1>
        <div class='content'>
            <%= image_tag "under_construction" %>
            <h2>Work in progress</h2>
        </div>
    </div>
</div>
