<div class='container'>
    <div id='cookie_consent'>
        <h1>Cookie Consent</h1>
        <div class='content'>
            <%= image_tag "under_construction" %>
            <h2>Work in progress</h2>
        </div>
    </div>
</div>