<div id="home" style="background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('banners/1.jpg') %>) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <div class='banner'>
        <h1>Cook like a ninja</h1>
        <%= render 'recipes/recipes_search' %>
    </div>
    <div class='container'>
        <div class='home_content'>
            <h2 class='h2'>Random users</h2>
            <%= render 'users/users_cards' %>
            <h2 class='h2'>Recipes recently added</h2>
            <div class='last_recipes'>
                <%= render 'recipes/recipe_card' %>
            </div>
        </div>
    </div>
</div>