<div id="home" style="background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banners/#{rand(1..100)}.jpg") %>) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <div class='banner'>
        <h1>Cook like a ninja</h1>
        <%= render 'recipes/recipes_search' %>
    </div>
    <div class='container'>
        <div class='home_content'>
            <%# render 'adsense/horizontal_responsive' %>
            <h2 class='h2 text-center'>No Idea What To Make For Dinner?<br>... or You Don't Know How To Cook?</h2>
            <div class='steps'>
                <p><i class="fas fa-search"></i><br>Search an ingredient or a recipe...</p>
                <p><i class="fas fa-mouse-pointer"></i><br>...Choose the recipe you like...</p>
                <p><i class="far fa-play-circle"></i><br>...And follow video step-by-step, it's easy!</p>
            </div>
            <h3 class='text-center'>Anyone can make delicious meals</h3>
            <hr>
            <h2 class='h2'>Additional tools for free registered users</h2>
            <div class='steps'>
                <p><i class="fas fa-book"></i><br>Save recipes in your cookbook</p>
                <p><i class="fas fa-user-cog"></i><br>Customize them with your ingredients</p>
                <p><i class="fas fa-paper-plane"></i><br>Specify ingredients to buy<br>and receive your shopping list<br>by email every week!</p>
            </div>
            <h2 class='h2'>Random users cookbooks</h2>
            <%= render 'users/users_cards' %>    
            <h2 class='h2'>Recipes recently added</h2>
            <div class='last_recipes'>
                <%= render 'recipes/recipe_card' %>
            </div>
        </div>
    </div>
</div>