<div class='container'>
    <div id='privacy_policy'>
        <% content_for :title, "Privacy Policy" %>
        <h1>Privacy Policy</h1>
        <div class='content'>
            <%= image_tag "under_construction.png" %>
            <h2>Work in progress</h2>
        </div>
    </div>
</div>