<div class='follow'>
  <% if current_user && current_user.id.to_s != params[:id]%>
    <%= link_to user_follow_path(params[:id]), method: :post, remote: true  do %>
      <div class='btn btn-outline-primary'>
        <% if @follow == 'Follow' %>
          <i class="fas fa-user-plus"></i> <small>Follow</small>
        <% else %>
          <i class="fas fa-user-check"></i> <small><%= @follow %></small>
        <% end %>
      </div>
    <% end %> 
  <% end %>
</div>