<div class='container'>
    <div id="shopping_list">
        <h1>Shopping list</h1>

        <%= render "shopping_lists/shopping_note" %>
        <hr>
        <%= render "quantities/quantities_list" %>
    </div>
</div>