.adsense_horizontal {
    background-color: grey;
    height: 100px;
    margin: 2rem auto 0px auto;
    width: 100%;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    
   }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { 

   }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) { 
    .adsense_horizontal {
        width: 75%;
    }
 
   }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { 
    .adsense_horizontal {
        width: 50%;
    }
   }