#footer{
    background-color: #242729;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding: 15px 0px;
    margin-top: 2rem;
    font-size: smaller;
    h4 {
        font-weight: bold;
    }
    p {
        width: 50%;
    }
    .bottom-footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}