.navbar-bintja {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15)
}

.navbar-bintja .navbar-collapse {
  flex-grow: 0;
}

.navbar-bintja .navbar-brand img {
  width: 116px;
  position: absolute;
  top: 8px;
  left: 22px;
}

li.nav-item {
  text-align: center;
}

.current_link {
  border-bottom: 3px solid $green;
  margin-bottom: -0.60rem;
  a{
    color: $green !important;
  }
}